* {
    /* background-color: rgb(39, 39, 39); */
    /* color: rgb(224, 224, 224); */
    /* color: #7FDBFF; */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    /* background-color: rgb(128, 76, 42) */
    background-color: #3D9970
}

/* nav */
.navbar-container {
    position: fixed;
    background-color: rgb(15, 45, 53);
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    padding: 10px;
    right: 0;
    float: right;
    list-style: none;
}

.nav-link {
    color: whitesmoke;
    text-decoration: none;
    transition: color .4s
}

.nav-link:hover {
    cursor: pointer;
    color: #7FDBFF
}

/* page 1 */
.page1 {
    height: 100vh;
    min-height: 700px;
    background-color: rgb(15, 45, 53);
    position: relative
}

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 34px
}

.github-icon {
    width: 100px;
    fill: #3D9970;
}

.github-icon:hover {
    fill: rgb(224, 224, 224);
}

.title {
    font-size: 70pt;
    padding: 10px 50px;
    text-align: left;
    /* color: rgb(224, 224, 224); */
    color: rgb(91, 155, 152);
    transition: color 1s
}

.title:hover {
    /* color: #85144b */
    color: #7FDBFF
}

.next-page {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.arrow {
    font-size: 100px
}

.next-page-inner {
    color: #3D9970;
    width: 228px;
    margin: auto;
    padding: 10px;
    transition: color .4s, padding .4s
}

.next-page-inner:hover {
    color: #7FDBFF;
    cursor: pointer;
    padding: 0
}

/* page 2 */
.page2 {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    min-height: 880px;
    position: relative;
    /* ^ this was what made the arrow stick to the bottom of page 2 */
}

.p2-title {
    font-size: 45pt;
    margin-top: 28px;
    color: #3D9970
    /* color: whitesmoke */
}

.icon {
    fill: rgb(48, 112, 138);
    width: 60px;
    padding-right: 20px;
    transition: fill .5s
}

.icon:hover {
    fill: rgb(89, 150, 173)
}

.skills {
    padding-top: 8px;
    margin: auto;
    width: 180px
}

.skill {
    margin: 4px;
    display: flex;
    align-items: center
}

.skill-text {
    color: rgb(146, 114, 72);
    transition: color .4s
}

.skill2 {
    margin: 23px;
    margin-left: 85px;
    color: rgb(146, 114, 72);
    transition: color .4s
}

.skill-text:hover, .skill2:hover {
    color: rgb(172, 144, 107)
}

.next-page2 {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 40px;
}

.next-page-inner2 {
    color: #3D9970;
    width: 100px;
    margin: auto;
    padding: 10px;
    transition: color .4s, padding .4s
}

.next-page-inner2:hover {
    color: #7FDBFF;
    cursor: pointer;
    padding: 0
}

/* page 3 */
.page3 {
    height: 100%;
    text-align: center;
    background-color: rgb(15, 45, 53);
    /* color: rgb(224, 224, 224) */
    color: rgb(91, 155, 152)
}

.projects {
    color: #3D9970;
    font-size: 45pt;
    padding-top: 34px
}

.project {
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 50px
}

.project-alt {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 50px
}

.description-container {
    display: flex;
    flex-direction: column;
    padding-right: 10px
}

.description-container-alt {
    grid-column: 2 / 3;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.hr-top, .hr-bottom {
    background: #3D9970;
    color: #3D9970;
    border: none;
    height: 1px;
}

.hr-top {
    margin-bottom: 10px;
}

.project-title {
    font-size: 30px
}

.description {
    margin-top: 16px;
    max-width: 600px;
    margin-left: auto;
    font-size: 13pt;
    margin-bottom: 10px;
}

.description-alt {
    margin-top: 16px;
    max-width: 600px;
    margin-right: auto;
    font-size: 13pt;
    margin-bottom: 10px;
}

.links-container {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding-left: auto;
    margin-top: auto;
}

.links-container-alt {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding-right: auto;
    margin-top: auto;
}

.link {
    font-size: 20px;
    text-decoration: none;
    /* color: rgb(224, 224, 224); */
    /* color: rgb(91, 155, 152); */
    color: #3D9970;
    transition: color .4s;
}

.link-name {
    text-decoration: none;
    color: #3D9970;
    transition: color .4s;
}

.link:hover, .link-name:hover {
    color: #7FDBFF
}

.gh-link, .gh-link-alt {
    display: flex;
    align-items: center;
}

.gh-link:hover, .gh-link-alt:hover > .link {
    color: #7FDBFF
}

.gh-link:hover, .gh-link-alt:hover > .mini-github-icon {
    fill: #7FDBFF
}

.mini-github-icon {
    width: 40px;
    fill: #3D9970;
    transition: .4s
}

.mini-github-icon:hover {
    fill: #7FDBFF
}

.img-container {
    display: flex;
    align-items: center;
}

.img-container-alt {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.screenshot-alt {
    width: 100%;
    margin-left: -10px;
    transition: .4s
}

.screenshot-alt:hover {
    width: calc(100% + 10px);
    margin-left: -15px;
}

.screenshot {
    width: 100%;
    padding-left: 10px;
    transition: .4s
}

.screenshot:hover {
    width: calc(100% + 10px);
    margin-left: -5px;
}

.resume-container {
    padding: 20px;
    transition: background-color 2s
}

.resume-container:hover {
    background-color: rgb(189, 225, 235);
    /* background-color: rgb(32, 73, 85); */
}

.resume {
    /* color: rgb(224, 224, 224); */
    color: rgb(91, 155, 152);
    text-decoration: none;
    font-size: 50pt;
    transition: color .4s;
}

.resume:hover {
    /* color: #7FDBFF */
    color: rgb(20, 20, 20)
}

@media only screen and (max-width: 1300px){
    .links-container, .links-container-alt {
        width: 100%;
    }
}

@media only screen and (max-width: 1230px){
    .title {
        font-size: 60pt;
    }
}

@media only screen and (max-width: 1070px){
    .title {
        font-size: 50pt;
    }
}

@media only screen and (max-width: 1000px){
    .project, .project-alt {
        display: block;
        text-align: center;
        padding: 20px 50px;
    }

    .hr-top {
        margin-bottom: 30px;
    }

    .screenshot, .screenshot-alt {
        padding: 0;
    }

    .hr-bottom {
        display: none;
    }

    .description-container {
        padding: 0;
    }

    .description-container-alt {
        margin: 0;
    }

    .description, .description-alt {
        max-width: 90%;
        margin: 16px auto 0;
    }

    .links-container, .links-container-alt {
        max-width: 90%;
        margin: 10px auto;
        display: flex;
    }
}

@media only screen and (max-width: 745px){
    .navbar {
        display: inline;
        text-align: right;
    }

    .nav-link {
        padding: 20px
    }
    
    .title {
        font-size: 40pt;
        padding: 20px 40px
    }

    .resume {
        font-size: 33pt;
    }
}

@media only screen and (max-width: 660px){
    .links-container, .links-container-alt {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px){
    .project, .project-alt {
        padding: 30px 0;
    }

    .screenshot:hover, .screenshot-alt:hover {
        width: 100%
    }
}

@media only screen and (max-width: 490px){
    .title {
        font-size: 30pt;
        padding: 0 30px
    }

    .nav-link {
        padding: 10px
    }

    .resume {
        font-size: 24pt;
    }
}